body{
	margin: 0px;
	padding: 0px;
	font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
}
/*tirando o risco padrão*/
a{
	text-decoration: none;
}
/*icone*/
header img{
	width: 100px;
	height: auto;
	float: left;
	padding-left: 40px;
}



/*bloco de links*/
header nav{
	margin: auto;
	overflow: auto;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;

}
/*bloco de links específicos*/
header nav ul li{
	padding-bottom: 5px;
	list-style: none;
	color: white;

}
header nav ul li a{
	color: black;
	text-align: center;
	padding: 10px 20px;
	opacity: 0.6;
	transition: 0.5s;
}


/*para todo session*/
.conteudo{
	background-color: #D3D3D3;
	margin: auto;
	height: auto;
	overflow: auto;
	font-size: 15px;
}



/*pé*/
footer{
	background-color: black;
	overflow: auto;
	margin: auto;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}
.linkfooter{

	padding-right: 100px;
	padding-top: 10px;
	list-style-type: none;
	padding-bottom: 30px;
}
.linkfooter li{
	padding-top: 15px;
	font-size: 15px;
}
/*link sobre e fontes*/
.linkfooter li a{
	color: white;
}

/*barra de redes sociais*/
#redes{
	width: auto;
	height: auto;

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 2px;
	font-size: 15px;
}
#redes ul{
	list-style: none;
}
#redes ul li{
	padding-left:30px;
	display: inline-block;
}
#redes ul li a img{
	width: 30px;
}
footer p{
	padding-left: 50px;
	font-size: 10px; 
}
section img{
	transition: 2s;
}

/*hovers*/
footer a:hover{
	color: #D3D3D3;
}
header nav ul li a:hover{
	opacity: 1;
}
section img:hover{
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
